<!-- <h1>Hello Apeksha</h1> -->

<!-- Data Sharing (@Output) -->
<app-parent></app-parent>








































































































































































<!-- Data sharing @Input -->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/homes" class="active">Homes</a>
        </li>
      </ul>
      
    </div>

    <div class="col-sm-6">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/abouts" class="active">Abouts</a>
        </li>
      </ul>
    </div>
    </div>
  </div> -->

   
  


<router-outlet></router-outlet>






















































































<!-- Dynamic Routing -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/home" class="active">Home</a>
        </li>
      </ul>
      <app-item-detail></app-item-detail>
    </div>

    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/about" class="active">About</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/contact" class="active">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet> -->

<!-- Static Routing -->
<!-- <div class="container">
  <div class="row">

    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/home" class="active">Home</a>
        </li>
      </ul>      
    </div>


    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/about" class="active">About</a>
        </li>
      </ul>
    </div>



    <div class="col-sm-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/contact" class="active">Contact</a>
        </li>
      </ul>
    </div>



  </div>
 </div>


 <router-outlet></router-outlet>

 -->

<!-- DIRECTIVES -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6" style="border-right: 2px solid black; height: 800px">
      <app-structure></app-structure>
    </div>

    <div class="col-sm-6" style="border-right: 2px solid black; height: 800px">
      <app-attribute></app-attribute>
    </div>
  </div>
</div>  -->

<!-- CREATING COMPONENTS AND DISPLAYING CONTENT -->

<!-- <div class="container">
  <div class="row">
    
    <div class="col-sm-3" style="border-right: 2px solid black; height: 800px;">
      <app-left></app-left>
    </div>

    <div class="col-sm-6" style="border-right: 2px solid black; height: 800px;">
      <app-middle></app-middle>
    </div>

    <div class="col-sm-3" style="border-right: 2px solid black; height: 800px;">
      <app-right></app-right>
    </div>
    
  </div>
</div> -->
